# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual Environment
.venv/
venv/
env/

# IDE and Editor Configs
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebooks
.ipynb_checkpoints/

# Selenium WebDriver files
chromedriver/
geckodriver/

# Operating System Files
.DS_Store
Thumbs.db

# CSV Reports
/reports/*.csv
/reports/*.xlsx

# Other files that should not be committed
*.env
*.xlsx
*.csv
*.xlsx#
/reports/*.xlsx#

# Specific local files to ignore
help.txt
test.py
test_currency_change.py
test_scrape_data.py
